{
    "semi": false,
    "trailingComma": "none",
    "bracketSpacing": true,
    "experimentalTernaries": true,
    "tabWidth": 4,
    "plugins": ["prettier-plugin-tailwindcss"],
    "arrowParens": "avoid"
}
